body {
    margin: 0;
    padding: 0;
    background-color: rgb(19, 14, 14);
}

#header {
    height: 60px;
}

#header span,
.brand-name {
    font-family: cursive;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: 0.1rem;
    background: rgba(0, 0, 0, 0.6) !important;
}

#header h3:hover {
    transition: ease-out 0.3s;
    letter-spacing: 1px;
}

#header .navbar-nav a:hover {
    color: rgb(91, 192, 222);
    font-size: 17px;
    transition: ease-out 0.3s;
    letter-spacing: 1px;
}

/* show case section */


.site-content {
    background-image: url(/images/pexel-4.jpg);
    background-attachment: fixed;
    z-index: -1;
    background-size: cover;
    height: 550px;
}

.info .name {
    font-size: 70px;
    color: rgb(20, 95, 145);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info .para {
    font-size: 40px;
    color: rgb(32, 57, 73);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.portfolio-button,
.cv-button {
    margin-top: 1%;
    margin-bottom: 10%;
}

/* section-1 */

.section-1 {
    background-color: rgba(117, 109, 109, 0.938);
}

.section-1 .col-sm-12 img {
    width: 100%;
    margin-top: 20px;
}

.section-1 .heading-1,
.section-1 .heading-2,
.section-1 .para-1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-1 .heading-1,
.section-1 .heading-2 {
    color: rgb(32, 57, 73);
    font-weight: 700;
    text-transform: uppercase;
}

.section-1 .para-1 {
    color: rgb(91, 192, 222);
    font-weight: 800;
}


/* section-2 */

.section-2 {
    background-color: rgb(141, 141, 140);
}

.section-2 .card {
    background-color: rgb(39, 44, 44);
}

.section-2 .card-text {

    color: rgb(91, 192, 222);
}

.section-2 .card-title {
    color: rgb(168, 102, 78);
}

.section-2 .heading-1 {
    color: #0d59aa;
    font-weight: 600;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-2 .para-1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(32, 57, 73);
    font-weight: 600;
}

/* section-3 */


.section-3 .container-fluid {
    background-image: url(/images/project.png);
    background-attachment: fixed;
    z-index: -1;
    background-size: cover;
    height: 480px;
}

.section-3 .heading-1 {
    margin-top: 20%;
    margin-bottom: 4%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 80%;
    color: rgb(28, 89, 128);
}

.section-3 .para {
    width: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #dde1e6;
    margin-bottom: 7%;
}

.section-3 .btn {
    margin-bottom: 15%;
    width: 50%;
    padding: 2% 5%;
}


/* section-4 */

.section-4 {
    background-color: whitesmoke;
}

.section-4 .heading-1 {
    color: #0d59aa;
    font-weight: 600;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-4 .para-1 {
    color: rgb(32, 57, 73);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

.section-4 .icons i {
    color: #0d59aa;
    font-size: 20px;
}

.section-4 .icons i:hover {
    transition: ease-out 0.3s;
    font-size: 40px;

}

.section-4 .last {
    color: rgb(10, 109, 99);
    font-weight: 600;
    font-size: medium;
}

@media (max-width: 768px) {
    .info .name {
        margin: 0;
        padding: 0;
        font-size: 60px;
    }

    .info .para {
        margin: 0;
        padding: 0;
        font-size: 30px;
    }

    .section-1 .col-sm-12 img {
        width: 50%;
    }

    .section-2 .card {
        margin: 10px 0;
    }

}